<%- include('navbar.ejs') %>

<h3>Log Sinlink...:  ' + fecha + '</h3>'
  result = result + '<a href="download">Download Linksrv.log</a>'
  result = result + '<br><br>Mostrando ultimas 3000 lineas del log'