<%- include('menu.ejs') %>

<h3>Log Sinlink...: <%- datoslog.fecha %>  </h3>
<br>
<a href="download">Download Linksrv.log</a>
<br><br>Mostrando ultimas 3000 lineas del log
<br>
<hr>

<%- datoslog.lines %>

</body>
</html>