<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siblink</title>
    <link rel="stylesheet" href="bootstrap.min.css">


</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-dark bg-primary fixed-top" >
                <a href="/"    class="navbar-brand navbar-text">Home</a>
                |&nbsp;&nbsp;
                <a href="/log"      class="navbar-brand navbar-text">Linksrv.log</a>
                |&nbsp;&nbsp;
                <a href="/status"   class="navbar-brand navbar-text">Status Siblink</a>
                |&nbsp;&nbsp;
                <a href="/stacklog"   class="navbar-brand navbar-text">Logs Siblink</a>
        </nav>
    </div>

    <div class="container bg-white py-3">
        &nbsp;&nbsp;
    </div>
    <hr>
   
