    <%- include('menu.ejs') %>

    <h3>Estado de contenedores y sesiones SFB iniciadas</h3>
    <hr>
    <br>

    
    <p style="font-family:monospace">  <%- datoslog.error %> </p>
    <hr>
    <p style="font-family:monospace">  <%- datoslog.lines %> </p>

</body>
</html>